<div class="row no-gutters align-items-end">
  <div class="col-auto mr-auto">
    <h1>ContactMap</h1>
  </div>
  <div class="col-auto">
    <a href="#" class="btn btn-success">New Contact</a>
  </div>
</div>
<hr />
<div class="cards">
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="card">
        <div class="card-header">
          <b>Full Name 1</b>
        </div>
        <div class="card-body">
          <p class="card-text">email@email.com</p>
          <p class="card-text">0123456789</p>
          <p class="card-text">Company</p>
          <p class="card-text">title</p>
        </div>
        <div class="card-footer">
          <div class="row no-gutters">
            <div class="col-auto mr-auto">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">Add to map</label>
              </div>
            </div>
            <div class="col-auto">
              <a href="#" class="btn btn-sm  btn-primary">New Address</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="card">
        <div class="card-header">
          <b>Full Name 2</b>
        </div>
        <div class="card-body">
          <p class="card-text">email_2@email.com</p>
          <p class="card-text">2123456789</p>
          <p class="card-text">Company 2</p>
          <p class="card-text">title 2</p>
        </div>
        <div class="card-footer">
          <div class="row no-gutters">
            <div class="col-auto mr-auto">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">Add to map</label>
              </div>
            </div>
            <div class="col-auto">
              <a href="#" class="btn btn-sm  btn-primary">New Address</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>