<div class="container-fluid mt-1">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="row no-gutters align-items-end">
        <div class="col-auto mr-auto">
          <h1>ContactMap</h1>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-success" data-toggle="modal" (click)="addContact.show()">New
            Contact</button>
        </div>
      </div>
      <hr />
      <div class="cards">
        <div class="row no-gutters">
          <div *ngFor="let contact of contacts" class="col-lg-6 col-md-12">
            <app-card [contact]="contact"></app-card>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 mt-9">
      <app-map></app-map>
    </div>
  </div>
</div>

<app-add-contact #addContact></app-add-contact>