<div class="card bg-light mt-2 ml-1" id="card-contact-{{contact.id}}">
  <div class="card-header">
    <div class="row no-gutters">
      <b class="col-auto mr-auto">{{contact.fullName}}</b>
      <button (click)=deleteContact(contact.id) type="button" class="close col-auto close-action-color"
        aria-label="Close">
        <span class="close-action-color" aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="card-text">
      <div>{{contact.email}}</div>
      <div>{{contact.phone}}</div>
      <div>{{contact.title}}</div>
      <div>{{contact.company}}</div>
      <div *ngFor="let address of contact.addresses; let i = index" [attr.data-index]="i">
        <input class="form-check-input" type="checkbox" value="" id="addMarker-{{contact.id}}-{{i}}"
          (change)="toggleAddress(i)">
        <label class="ml-4" for="addMarker-{{contact.id}}-{{i}}" [ngClass]="{highlight: marked[i]}">
          {{address.roadName}}, {{address.roadNumber}}, {{address.zipCode}}, {{address.area}},{{address.city}},
          {{address.country}}
        </label>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row no-gutters">
      <div class="col-auto mr-auto">
        <button type="button" class="btn btn-primary" data-toggle="modal" (click)="addAddress.show()">New
          Address</button>
      </div>
    </div>
  </div>
</div>

<app-add-address #addAddress [contactId]=contact.id></app-add-address>