/* You can add global styles to this file, and also import other style files */
$red: rgb(155, 1, 1);
$spacer: 0.5em;

.close-action-color {
  color: $red;

  &hover {
    color: red !important;
  }
}

.mt-9 {
  margin-top: 5em !important;
  height: 100vh;
}

agm-map {
  height: calc(100% - 6em);
}



input[type='checkbox'] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 5px;
  border: 2px solid #555;
  margin-left: 0;
}

input[type='checkbox']:checked {
  background-color: #FFFF00;
}

.highlight {
  background-color: #FFFF00;
}
